<!DOCTYPE html>
	<html>
		<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=UA-131331402-1"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());

			  gtag('config', 'UA-131331402-1');
			</script>

			<meta charset="utf-8">
			<title>{{ page.title }}</title>
			<link rel="stylesheet" href="/css/normalize.css">
  			<link rel="stylesheet" href="/css/skeleton.css">
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		</body>
	</html>